@charset "utf-8";
/* 全局CSS定义 */
* {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  background: #fff;
}

h1, h2, h3, h4, p, ul, ol, dl, dt, dd {
  margin: 0;
  padding: 0;
}

/** 设置默认字体 **/
body, button, input, select, textarea /* for ie */
{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
/*  font-family: '宋体';*/
  color: #666;
}

/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */
th, td /* table elements 表格元素 */
{
  margin: 0;
  padding: 0;
}

address, cite, dfn, em, var {
  font-style: normal;
}

/* 将斜体扶正 */

/** 重置列表元素 **/
ul, ol, li {
  list-style: none;
}

/** 重置文本格式元素 **/
a {
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

a:hover, a:focus, a:visited {
  text-decoration: none;
  color: #666;
}

/*去掉IE的虚线框*/
a:active, a:focus {
  border: none;
  outline: none;
}

/** 重置表单元素 **/
fieldset, img {
  border: 0;
}

/* img 搭车：让链接里的 img 无边框 */
button, input, select, textarea {
  font-size: 100%;
}

/* 使得表单元素在 ie 下能继承字体大小 */

/** 重置表格元素 **/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  line-height: inherit;
}


/*自定义样式*/
html,body{
  width: 100%;
  height: 100%;
}
.icon{
  display: inline-block;
}
.en-text{
  font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
}
.cm-btn{
  user-select: none;
  cursor: pointer;
  transition: all .3s;
  &:active{
    transform: scale(0.95,0.95);
  }
}
.page-footer{
  position: absolute;
  left: 0px;
  bottom: 0px;
  text-align: center;
  line-height: 60px;
  width: 100%;
  height: 60px;
  font-size: 14px;
  color: #d1d1d1;
  .en-text;
}
/*单行省略号*/
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
}
textarea::-webkit-input-placeholder { /* WebKit browsers */
  color: #999;
}
textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #999;
}
textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #999;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #999;
}

/*自定义滚动条*/
.cm-scroll{
  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    background-color: rgba(0, 0, 0, .5);
    transition: all .3s;
  }

  &::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 0, .6);
  }

  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

/*内容面板复用样式*/
.cm-panel{
  width: 1400px;
  margin: 0px auto;
  font-family: '宋体';
  .panel-hd{
    position: relative;
    height: 150px;
    border-bottom: 2px solid #e6e6e6;
    .handle-list{
      position: absolute;
      left: 0px;
      bottom: 10px;
      display: inline-block;
    }
    .handle-btn{
      position: relative;
      z-index: 1;
      margin: 0px 10px;
      float: left;
      display: flex;
      align-items: center;
      padding: 0px 12px;
      height: 35px;
      font-size: 18px;
      color: #666;
      border: 1px solid #cdcdcd;
      border-radius: 5px;
      .icon{
        position: relative;
        top:-1px;
        margin-right: 4px;
      }
    }
    .upload-btn{
      position: relative;
      input{
        position: absolute;
        top:0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        opacity: 0;
      }
    }
    .storage{
      position: absolute;
      right: 245px;
      bottom: 24px;
      display: inline-block;
      font-size: 16px;
      color: #b2b2b2;
      .line{
        display: inline-block;
        height: 4px;
        border-radius: 2px;
        background: #e6e6e6;
        width: 200px;
        >div{
          height: 100%;
          margin-right: 15px;
          background: #b3b3b3;
        }
      }
    }
    .hd-icon{
      position: absolute;
      right: 0px;
      bottom: 14px;
    }
    .title{
      position: absolute;
      z-index: 0;
      font-size: 30px;
      color: #b2b2b2;
      max-width: 400px;
      left: 0px;
      right: 0px;
      bottom: 12px;
      margin: auto;
      text-align: center;
    }
  }
}
@media screen and(max-width: 1600px) {
  .cm-panel{
    width: 1000px;
  }
}

/*复用图标*/
.warn-icon{
  display: inline-block;
  background: url("../images/common/warn-icon.png") no-repeat;
  width:48px;
  height: 48px;
  background-size: 100% 100%;
}
.complete-icon{
  display: inline-block;
  background: url("../images/common/handle-success-icon.png") no-repeat;
  width:48px;
  height: 48px;
  background-size: 100% 100%;
}
.clear-icon{
  display: inline-block;
  background: url("../images/common/clear-icon.png") no-repeat;
  width:48px;
  height: 48px;
  background-size: 100% 100%;
}
/*自定义样式*/
.icon{
  display: inline-block;
}
.cm-btn{
  cursor: pointer;
  &:active{

  }
}
.cm-disabled{
  opacity: 0.6;
  pointer-events: none;
}

.time-queue-panel{
  margin-left: auto;
  width: 280px;
  height: 700px;
  background: #fff;
  border: 1px solid #e6e6e6;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  font-family: '宋体';
  position: relative;
  .panel-header{
    padding: 15px 0px;
    position: relative;
    font-size: 24px;
    color: #b2b2b2;
    text-align: center;
    &:after{
      position: absolute;
      content: '';
      width: 60%;
      height: 1px;
      background: #ccc;
      left: 0rem;
      right: 0rem;
      bottom: 0rem;
      margin: auto;
    }
  }
  .panel-body{
    padding: 20px;
    height:75%;
    overflow: auto;
    ul{
      li{
        position: relative;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        font-size: 18px;
        color: #b2b2b2;
        font-weight: bold;
        cursor: pointer;
        word-break: break-all;
        .del-btn{
          position: absolute;
          right: 0px;
          top:0px;
          bottom: 0px;
          margin: auto;
        }
      }
    }
  }
  .panel-footer{
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #b2b2b2;
    .diy-btn{
      display: inline-block;
      width: 80px;
      height: 40px;
      line-height: 40px;
      font-size: 14px;
      color: #b2b2b2;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: center;
    }
    &:before{
      position: absolute;
      content: '';
      width: 60%;
      height: 1px;
      background: #ccc;
      left: 0rem;
      right: 0rem;
      top: 0rem;
      margin: auto;
    }
  }
}

/*element ui样式覆盖*/
.el-loading-spinner{
  margin-top: 0px;
}
.el-loading-spinner .path{
  stroke-width:2;
  stroke:#ffabab;
}

/**/
.cm-btn-block{
  position: absolute;
  z-index: 10;
  top:0rem;
  left: 0rem;
  width: 158px;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
  .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34px;
    background: #fff;
    font-size: 14px;
    color: #666;
    font-family: 'Helvetica Neue', Helvetica, Arial, 'Microsoft Yahei', 'Hiragino Sans GB', 'Heiti SC', 'WenQuanYi Micro Hei', sans-serif;
    &+.btn{
      border-top: 1px solid #ccc;
    }
  }
}
