
.add-icon, .complete-handle-icon, .del-grey-icon, .del-icon, .heart-icon, .heart-min-icon, .login-wedding-flower-icon, .manage-icon, .married-icon, .married-sm-icon, .more-icon, .pen-icon, .sort-icon {
    background-image: url(../images/sprite.png);
}


.add-icon {
    width: 19px;
    height: 19px;
    background-position: -484px -36px;
}

.complete-handle-icon {
    width: 14px;
    height: 10px;
    background-position: -551px -36px;
}

.del-grey-icon {
    width: 18px;
    height: 18px;
    background-position: -503px -36px;
}

.del-icon {
    width: 20px;
    height: 20px;
    background-position: -464px -36px;
}

.heart-icon {
    width: 66px;
    height: 52px;
    background-position: -335px -36px;
}

.heart-min-icon {
    width: 40px;
    height: 34px;
    background-position: -401px -36px;
}

.login-wedding-flower-icon {
    width: 694px;
    height: 36px;
    background-position: -335px 0px;
}

.manage-icon {
    width: 16px;
    height: 16px;
    background-position: -521px -36px;
}

.married-icon {
    width: 335px;
    height: 92px;
    background-position: 0px 0px;
}

.married-sm-icon {
    width: 233px;
    height: 70px;
    background-position: 0px -92px;
}

.more-icon {
    width: 16px;
    height: 4px;
    background-position: -565px -36px;
}

.pen-icon {
    width: 23px;
    height: 23px;
    background-position: -441px -36px;
}

.sort-icon {
    width: 14px;
    height: 13px;
    background-position: -537px -36px;
}
