
.add-icon, .add-lg-icon, .cancel-btn-icon, .complete-handle-icon, .cross-icon, .del-grey-icon, .del-icon, .del-min-icon, .heart-icon, .heart-min-icon, .login-wedding-flower-icon, .manage-icon, .married-icon, .married-sm-icon, .more-icon, .ok-btn-icon, .pen-icon, .return-icon, .sort-icon, .upload-img-icon {
    background-image: url(../images/sprite.png);
}


.add-icon {
    width: 19px;
    height: 19px;
    background-position: -554px -36px;
}

.add-lg-icon {
    width: 50px;
    height: 50px;
    background-position: -401px -36px;
}

.cancel-btn-icon {
    width: 60px;
    height: 60px;
    background-position: -293px -92px;
}

.complete-handle-icon {
    width: 14px;
    height: 10px;
    background-position: -638px -36px;
}

.cross-icon {
    width: 20px;
    height: 20px;
    background-position: -514px -36px;
}

.del-grey-icon {
    width: 18px;
    height: 18px;
    background-position: -573px -36px;
}

.del-icon {
    width: 20px;
    height: 20px;
    background-position: -534px -36px;
}

.del-min-icon {
    width: 17px;
    height: 17px;
    background-position: -591px -36px;
}

.heart-icon {
    width: 66px;
    height: 52px;
    background-position: -335px -36px;
}

.heart-min-icon {
    width: 40px;
    height: 34px;
    background-position: -451px -36px;
}

.login-wedding-flower-icon {
    width: 694px;
    height: 36px;
    background-position: -335px 0px;
}

.manage-icon {
    width: 16px;
    height: 16px;
    background-position: -608px -36px;
}

.married-icon {
    width: 335px;
    height: 92px;
    background-position: 0px 0px;
}

.married-sm-icon {
    width: 233px;
    height: 70px;
    background-position: 0px -92px;
}

.more-icon {
    width: 16px;
    height: 4px;
    background-position: -652px -36px;
}

.ok-btn-icon {
    width: 60px;
    height: 60px;
    background-position: -233px -92px;
}

.pen-icon {
    width: 23px;
    height: 23px;
    background-position: -491px -36px;
}

.return-icon {
    width: 8px;
    height: 15px;
    background-position: -451px -70px;
}

.sort-icon {
    width: 14px;
    height: 13px;
    background-position: -624px -36px;
}

.upload-img-icon {
    width: 100px;
    height: 100px;
    background-position: 0px -162px;
}
