
.login-wedding-flower-icon, .married-icon {
    background-image: url(../images/sprite.png);
}


.login-wedding-flower-icon {
    width: 694px;
    height: 36px;
    background-position: -335px 0px;
}

.married-icon {
    width: 335px;
    height: 92px;
    background-position: 0px 0px;
}
